<!DOCTYPE html>
<html lang="en">
  <head>
    <title>eShop - Sign up</title>
    <%- include('../components/head_common.html') %>
  </head>
  <body>
    <%- include('../components/navbar.html') %>

    <form action="/auth/signup" method="post">
      <input type="email" name="email" placeholder="email" />
      <input type="password" name="password" placeholder="password" />
      <input type="text" name="full_name" placeholder="John Doe" />

      <input type="submit" value="Submit" />
    </form>

    <%- include('../components/form_errors.html', { errors: locals.errors }) %>
  </body>
</html>
