main {
  max-width: 1200px;
  margin: 20px auto 0;
}

.cart {
  display: flex;
  align-items: flex-start;
  gap: 20px;

  & .cart-rows {
    flex-basis: 70%;
    border: 1px solid #ececf1;
    border-radius: 14px;
    padding: 20px;

    & h1 {
      display: inline-block;
      margin-bottom: 15px;
      margin-top: 0;
      margin-right: 10px;

      + span {
        font-size: 1.2rem;
        vertical-align: super;
        color: #404040c7;
      }
    }

    & .cart-item {
      display: flex;
      align-items: center;
      border: 1px solid #ececf1;
      border-radius: 14px;
      padding: 10px;
      height: 80px;
      margin-bottom: 15px;
      gap: 10px;

      & img {
        height: 80px;
        width: 100px;
        object-fit: cover;
        border-radius: 10px;
        margin-right: 10px;
      }

      & .title {
        flex-grow: 1;
      }

      & .quantity {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;

        & button {
          border-radius: 50%;
          box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
          background: transparent;
          border: 1px solid #ececf1;
          font-size: 1.2rem;
          cursor: pointer;
        }

        & button:focus {
          box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.2);
        }
      }

      & .price {
        font-size: 1.3rem;
        width: 100px;
        flex-shrink: 0;
        text-align: center;
      }

      & button.delete-item {
        border: 1px solid transparent;
        background: transparent;
        font-size: 1.5rem;
        color: #ff3f3f;
        cursor: pointer;
      }

      & button.delete-item:focus {
        border-radius: 5px;
        border-color: #ff3f3f;
      }
    }
  }

  & .cart-summary {
    flex-basis: 30%;
    background-color: #f3f3f8;
    border-radius: 14px;
    padding: 20px;

    & h2 {
      margin-top: 0;
    }

    & .summary-row {
      display: flex;
      justify-content: space-between;
      color: #8b8aa9;

      + .summary-row {
        margin-top: 15px;
      }
    }

    & .total {
      color: black;
      font-weight: 500;
      font-size: 1.2rem;
    }

    & a.checkout {
      display: block;
      background-color: black;
      color: white;
      margin-top: 15px;
      padding: 15px;
      border-radius: 10px;
      text-decoration: none;
      text-align: center;
    }
  }
}
