<nav>
  <ul class="navbar">
    <li><a href="/">Home</a></li>
    <li><a href="/products">Products</a></li>
    <li><a href="/profile">Profile</a></li>
    <% if (locals.isLoggedIn) {%>
      <li>
        <button
          href="/signOut"
          onclick="fetch('/auth/signOut', {
        method: 'POST'
      }).then(() => {
        location.reload()
      })"
        >
          Log Out
        </button>
      </li>
    <% } else {%>
      <li><a href="/auth/login">Login</a></li>
      <li><a href="/auth/signup">Sign Up</a></li>
    <% }%>
  </ul>
</nav>
