<nav style="display: flex; align-items: center">
  <a href="/" style="color: #2b2a2a; font-size: 1.2rem; text-decoration: none">eShop</a>

  <ul class="navbar">
    <li><a href="/">Home</a></li>
    <li><a href="/products">Products</a></li>
    <li><a href="/cart" class="cart">Cart</a></li>
    <li><a href="/profile">Profile</a></li>
    <% if (locals.isLoggedIn) {%>
    <li>
      <button
        href="/signOut"
        onclick="fetch('/auth/signOut', {
        method: 'POST'
      }).then(() => {
        location.reload()
      })"
      >
        Log Out
      </button>
    </li>
    <% } else {%>
    <li><a href="/auth/login">Login</a></li>
    <li><a href="/auth/signup">Sign Up</a></li>
    <% }%>
  </ul>
</nav>

<script>
  const cart = document.querySelector('.cart')
  const cartItems = globalData.cart?.cartItems || []
  const cartItemsCount = cartItems.reduce(
    (total, item) => total + item.quantity,
    0
  );

  cart.textContent = cart.textContent + ` (${cartItemsCount})`
</script>