<html>
  <head>
    <title>Profile</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <style>
      td {
        border: 0.5px solid #333;
      }

      tr td{
        padding: 4px;
      }
    </style>
  </head>

  <body>
    <%- include('components/navbar.html', { isLoggedIn: !!locals.user.fullName }) %>

    <main>
      <h1>Hi <%= locals.user.fullName || 'Guest' %></h1>
      <table>
        <tbody>
          <tr>
            <td>id</td>
            <td><%= locals.user.id %></td>
          </tr>
          <tr>
            <td>Name</td>
            <td><%= locals.user.fullName %></td>
          </tr>
          <tr>
            <td>email</td>
            <td><%= locals.user.email %></td>
          </tr>
          <tr>
            <td>role</td>
            <td><%= locals.user.role %></td>
          </tr>
          <tr>
            <td>hashed password</td>
            <td><%= locals.user.hashedPassword %></td>
          </tr>
        </tbody>
      </table>
    </main>
  </body>
</html>
