<html>
  <head>
    <title>eShop - Profile</title>
    <style>
      td {
        border: 0.5px solid #333;
      }

      tr td {
        padding: 4px;
      }
    </style>
    <%- include('./components/head_common.html') %>
    <style>
      main {
        max-width: 1200px;
        margin: 20px auto 0;
      }
    </style>
  </head>

  <body>
    <%- include('components/navbar.html') %>

    <main>
      <h1><%= locals.user.fullName %> / Profile</h1>

      <form action="" method="post">
        <div class="row">
          <label for="full_name">Full name</label>
          <input
            type="text"
            name="full_name"
            id="full_name"
            value="<%= locals.user.fullName %>"
          />
        </div>
        <div class="row">
          <label for="email">email</label>
          <input
            type="email"
            name="email"
            id="email"
            value="<%= locals.user.email %>"
          />
        </div>
        <div class="row">
          <label for="role">Role</label>
          <input
            type="text"
            name="role"
            id="role"
            value="<%= locals.user.role %>"
            readonly
          />
        </div>

        <button type="submit">Update</button>
      </form>
    </main>
  </body>
</html>
