<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/stylesheets/pages/products.css" />
    <link rel="stylesheet" href="/stylesheets/components/product-card.css" />
    <title>eShop - Products</title>
    <%- include('../components/head_common.html') %>
  </head>
  <body>
    <%- include('../components/navbar.html') %>

    <main>
      <h1>Products</h1>
      <div class="products">
        <% locals.products.forEach(product => {%> <%-
        include('../components/product_card.html', {product}) %> <%}) %>
      </div>
    </main>
  </body>
</html>
