<!DOCTYPE html>
<html lang="en">
  <head>
    <title>eShop - <%= product.title %></title>
    <%- include('../components/head_common.html') %>
    <script type="module" src="/javascript/pages/products/show.js"></script>
    <link rel="stylesheet" href="/stylesheets/pages/product.css" />
    <link rel="stylesheet" href="/stylesheets/components/product-card.css" />
  </head>
  <body>
    <%- include('../components/navbar.html') %>

    <main>
      <h1><%= product.title %></h1>

      <div class="product-hero">
        <img src="<%= product.imageUrl %>" alt="<%= product.title %>" />

        <div class="product-details">
          <p class="description"><%= product.description %></p>
          <div class="price">Price: $<%= product.priceCents / 100 %></div>
          <button class="add-to-cart" data-product-id="<%= product.id %>">
            Add to cart
          </button>
        </div>
      </div>

      <div class="related-products">
        <h2>Related products</h2>

        <div class="cards">
          <% if (!locals.relatedProducts.length) { %>
           <p>No related products to show</p>
          <% } %>
          <% locals.relatedProducts.forEach(product =>{ %>
            <%-include('../components/product_card.html', { product }) %>
          <% }) %>
        </div>
      </div>
    </main>
  </body>
</html>
