<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>eShop - <%= product.title %></title>
    <%- include('../components/head_common.html') %>
    <script type="module" src="/javascript/pages/products/show.js"></script>
  </head>
  <body>
    <%- include('../components/navbar.html', { isLoggedIn: locals.isLoggedIn }) %>

    <h1><%= product.title %></h1>

    <div
      style="display: flex; flex-wrap: wrap; flex-direction: column; gap: 10px"
    >
      <img
        src="<%= product.imageUrl %>"
        style="object-fit: contain; max-height: 50vh; align-self: start;"
      />
      <span style="max-width: 200px"><%= product.title %></span>
      $<%= product.priceCents / 100 %>    
      <button style="width: 100px;" class="add-to-cart" data-product-id="<%= product.id %>">Add to cart</button>

      <p><%= product.description %></p>
    </div>
  </body>
</html>
